extends ../templates/layout

mixin toggleButton(active, tooltipText)
    .toogle.slider
        - if (active === true)
            button.btn.toggle.button.active(type='submit', data-toggle='tooltip', data-placement='bottom', title=tooltipText)
                p
                    i.fa.fa-check
        - else
            button.btn.toggle.button.inactive(type='submit', data-toggle='tooltip', data-placement='bottom', title=tooltipText)
                p
                    i.fa.fa-close
                    
mixin statusIcon(active)
    - if (active === true)
        i.fa.fa-check
    - else
        i.fa.fa-close

mixin balanceEntry(name)
    tr(class=sumData[name]<=0 ? 'balance positive' : 'balance negative')
        td.balance.name
            = name
        td.balance.balance
                = sumData[name].toFixed(2) * -1
        td.balance.settled
            -if (name === username && pool.status === 'open')
                form(action=pool.id + '/toggleUserState?username=' + username + '&state=settled', method="post", class="inline")
                    +toggleButton(pool.participants[name].settled, pool.participants[name].settled === false ? "Mark settlement as settled" : "Mark settlement as open")
            - else
                +statusIcon(pool.participants[name].settled)

block content
    <!-- Table of the pool entries --> 
    .container
        .panel.panel-default
            .panel-heading Settlement overview #{pool.startDate} - #{pool.endDate} Status: #{pool.status}
            .panel-body
            table
                tr.table-header
                    td.cash-name-column Name
                    td.cash-description-column Description
                    td.cash-date-column Date
                    td.cash-value-column Value
                - var total = 0.0;
                - for (var i = 0; i < pool.items.length; i++) {
                    - var currentItem = pool.items[i]
                    tr
                        td.cash-name-column
                            = currentItem.username
                        td.cash-description-column
                            a(href='/cashPools/' + currentItem.id)
                                = currentItem.description
                        td.cash-date-column
                            = currentItem.date
                        td.cash-value-column
                            = parseFloat(currentItem.value) * -1 
                    - total += parseFloat(currentItem.value) 
                - }
                tr
                    td.cash-name-column
                    td.cash-description-column
                        b Total:
                    td.cash-date-column 
                    td.cash-value-column
                        b
                            = total.toFixed(2) * -1

    <!-- Table with the calculated sums for the user -->
    .container
        .panel.panel-default
            .panel-heading Overview how much everyone needs to pay (red) or gets back (green)
            .panel-body
                table
                    tr.table-header
                        td.balance.name name
                        td.balance.balance balance
                        td.balance.settled settled
                    - for (var name in sumData) {
                        +balanceEntry(name)
                    - }
                

block css
    link(href='/css/bootstrap-datepicker.min.css', rel='stylesheet')
                
block scripts
    script(type='text/javascript', src='/js/bootstrap-datepicker.min.js')
    script.
        $(function() {
            
            var endDate = "#{pool.endDate}".split('.').reverse();
            endDate = new Date(endDate);

            var startDate = "#{pool.startDate}".split('.').reverse();
            startDate = new Date(startDate);
            
            if (#{pool.enforceTimeBounds}) {
                $('#datepicker').datepicker({ 
                        format: 'dd.mm.yyyy',
                        startDate: startDate,
                        endDate: endDate
                }).datepicker("setDate", new Date());
            } else {
                $('#datepicker').datepicker({ 
                        format: 'dd.mm.yyyy'
                }).datepicker("setDate", new Date());  
            }
        });
